Создайте объект Series для хранения оценок по какому-либо предмету, например, по "Линейной Алгебре". Пусть он содержит 5 студентов со случайными оценками от 2 до 5. Фамилии студентов должны быть индексами.

Выведите средний балл для всех, у кого оценка больше или равна 3.

Создайте другой объект Series, для хранения оценок по другому предмету, например по "Математическому Анализу". Посчитайте средний балл для каждого студента по этим двум предметам.

In [1]:
import numpy as np
import pandas as pd
from faker import Faker

In [2]:
fake= Faker("ru_Ru")
name = [(fake.name()) for _ in range(10)]
name

['Татьяна Олеговна Владимирова',
 'Нина Егоровна Колесникова',
 'Белозерова Людмила Юрьевна',
 'Эраст Исидорович Дьячков',
 'Авдеева Оксана Дмитриевна',
 'Шубина Антонина Оскаровна',
 'Евгений Теймуразович Потапов',
 'Радим Захарьевич Комаров',
 'Евдоким Архипович Дьячков',
 'Филатова Зоя Артемовна']

In [3]:
la = pd.Series(np.random.randint(2,5,10))
la.name = 'Линейная алгебра'
la.index = [name]

In [12]:
print(f'Студенты с оценкой выше 3 бала :\n{la[la>=3]}')

Студенты с оценкой выше 3 бала :
Татьяна Олеговна Владимирова    4
Нина Егоровна Колесникова       3
Авдеева Оксана Дмитриевна       3
Шубина Антонина Оскаровна       4
Name: Линейная алгебра, dtype: int32

In [7]:
ma = pd.Series(np.random.randint(2,6,10))
ma.index = [name]
ma.name = 'Линейная алгебра'
ma

Татьяна Олеговна Владимирова    5
Нина Егоровна Колесникова       4
Белозерова Людмила Юрьевна      4
Эраст Исидорович Дьячков        5
Авдеева Оксана Дмитриевна       4
Шубина Антонина Оскаровна       3
Евгений Теймуразович Потапов    4
Радим Захарьевич Комаров        2
Евдоким Архипович Дьячков       5
Филатова Зоя Артемовна          3
Name: Линейная алгебра, dtype: int32

In [10]:
com_mean = (la + ma)/2
print(f'Средняя оценка по двум предметам:\n{com_mean}')

Средняя оценка по двум предметам:
Татьяна Олеговна Владимирова    4.5
Нина Егоровна Колесникова       3.5
Белозерова Людмила Юрьевна      3.0
Эраст Исидорович Дьячков        3.5
Авдеева Оксана Дмитриевна       3.5
Шубина Антонина Оскаровна       3.5
Евгений Теймуразович Потапов    3.0
Радим Захарьевич Комаров        2.0
Евдоким Архипович Дьячков       3.5
Филатова Зоя Артемовна          2.5
Name: Линейная алгебра, dtype: float64